@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

:root {
    --font-primary: "Baloo 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
}

body{
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.5;
    color: #fff;
    background-color: #444;
}
h1 h2 h3 {
    line-height: 1.2;
    font-family: var(--font-primary);
}

a:link{color:#5bf}a:visited{color:#ccf}}